# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml
webSocket/target/
out
gen
kafka-consumer/src/test/
kafka-consumer/target/classes/org/kafka/test/testMain/
kafka-consumer/target/generated-sources/
kafka-producer/src/test/
kafka-producer/target/generated-sources/
websocket/src/test/
