# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml
webSocket/target/
out/
target/
gen
kafka-consumer/src/test/
kafka-consumer/target/classes/org/kafka/test/testMain/
kafka-consumer/target/generated-sources/
kafka-producer/src/test/
kafka-producer/target/generated-sources/
websocket/src/test/
cookies/src/main/resources/
cookies/src/test/
ehcache/src/main/java/org/cache/study/anno/
gexin/src/main/resources/
gexin/src/test/
redis/src/main/java/org/redis/test/dao/
reflect/src/main/resources/
reflect/src/test/
rpc/src/test/
socket/src/main/resources/
socket/src/test/
valid/src/main/resources/static/
valid/src/test/
visitor/src/main/resources/
visitor/src/test/
